---
import "../styles/styles.css";                          // In Astro, you import CSS files directly
// Import any Server-side scripts from src/scripts
import Header from "../components/Header.astro";        
import PlantList from "../components/PlantList.astro";
import AddPlantForm from "../components/AddPlantForm.astro";
import { getPlants } from "../../public/scripts/api.js";

const plants = await getPlants();                       // Get plant data from API
---

<html>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Garden</title>
  </head>

  <body>
    <Header />
    <AddPlantForm />
    <PlantList plants={plants} />                 {/* Pass plant data as prop to PlantList component */} 
    
    {/* Import scripts from Public that should be rendered Client Side */} 
    <script src="/scripts/formHandler.js" type="module"></script> 
    <script src="/scripts/cardButtonHandler.js" type="module"></script>
  </body>

</html>
