---
import "../styles/styles.css";                          // In Astro, you import CSS files directly
// Import any Server-side scripts from src/scripts
import PlantList from "../components/PlantList.astro";
import AddPlantForm from "../components/AddPlantForm.astro";
import { getPlants } from "../../public/scripts/api.js";

const plants = await getPlants();                       // Get plant data from API
---

<html>

  <head>
    <title>Digital Garden</title>
  </head>

  <body>
    <h1>Welcome to Your Digital Garden 🌱</h1>
    <AddPlantForm />
    <PlantList plants={plants} />                 {/* Pass plant data as prop to PlantList component */} 
    
    {/* Import scripts from Public that should be rendered Client Side */} 
    <script src="/scripts/formHandler.js" type="module"></script> 
  </body>

</html>
