---
//Component to hold the 'Add Plant' form
---

<form id="plant-form">
  <input type="text" id="name" placeholder="Plant Name" required />
  <input type="text" id="botanical_name" placeholder="Botanical name (Optional)" />
  <select id="watering_frequency">
    <option value="0.000694">DEBUG(1 min)</option>
    <option value="1">1 Day</option>
    <option value="2">2 Days</option>
    <option value="7">7 Days</option>
    <option value="14">14 Days</option>
    <option value="30">30 Days</option>
  </select>
  <textarea id="notes" placeholder="Notes (optional)" rows="3"></textarea>
  <button type="submit">Add Plant</button>
</form>
