---
//Component to hold the 'Add Plant' form
---

<form id="plant-form">
  <input type="text" id="name" placeholder="Plant Name" required />
  <input type="text" id="botanical_name" placeholder="Botanical name (Optional)" />
  <select id="watering_frequency">
    <option value="1">DEBUG(1 hour)</option>
    <option value="24">1 Day</option>
    <option value="48">2 Days</option>
    <option value="168">7 Days</option>
    <option value="336">14 Days</option>
    <option value="672">30 Days</option>
  </select>
  <textarea id="notes" placeholder="Notes (optional)" rows="3"></textarea>
  <button type="submit">Add Plant</button>
</form>
