<div class="color-selector">
    {Object.entries({
        Red: "#ff4444",
        Orange: "#FF7635",
        Yellow: "#ffdd44",
        Green: "#7f9261",
        Blue: "#44aaff",
        Purple: "#aa44ff"
    }).map(([color, hex]) => (
        <label class="color-toggle">
            <input
                type="radio"
                name="plant_color"
                value={hex}
                class="color-checkbox"
            />
            <span class="color-label" style={`background-color: ${hex}`}></span>
        </label>
    ))}
</div>