---
//Component for displaying and styling individual plant items
const { plant } = Astro.props;                         // Destructure plants prop                     
---

<li>
    <strong>{plant.name}</strong> - {plant.growth_stage}    {/* Display plant name and growth stage */}
    <p>{plant.notes}</p>                                    {/* Display plant notes */}
</li>