---
//Component for displaying and styling individual plant items
const { plant } = Astro.props;                         // Destructure plants prop                     
---

<span class="plant-card">                               
    <h3>{plant.name}</h3> - {plant.growth_stage}            {/* Display plant name and growth stage */}
    <p>{plant.notes}</p>                                    {/* Display plant notes */}
</span>