---
const { plant } = Astro.props;                             // Destructure plant prop from props object
---
<div class="settings-container">
    <div class="settings-header">
        <h3>Settings</h3>
        <div class="settings-buttons">
            <button class="btn back-button" data-id={plant.id} aria-label="Close settings page">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button class="btn delete-button" data-id={plant.id} aria-label="Delete plant">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>

    <div class="settings-forms">
    

    </div>

</div>